*{
    margin: 0;
    padding: 0;
}   
.left_side
{
    width: 17%;
    /* height: 200px; */
    position: fixed;
    height: 100vh;
    overflow: scroll;
    top: 70px;
}
.left_side::-webkit-scrollbar
{
    display: none;
}
.right_side
{
    background-color: #000;
    width: 83%;
    height: 100vh;
    
}
.main_content
{
    display: flex;
    position: fixed;
    top: 60px;
}



.App_main_contant_container
{
    padding-left: 261px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: scroll;
    height: 90vh;
   
}
.column
{
    display: flex;
    gap:6px;
}
.main_container
{
    border-radius: 10px;
    margin: 5px;
}
