*{
    margin: 0;
    padding: 0;
    /* background-color: #000; */
}

.main_container
{
    width: 400px;
    /* height: 303px; */
    background-color: rgb(0, 0, 0);
}
.mainimg
{
    /* width: 400px; */
    border-radius: 10px;
}
.channel_logo_image
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.channel_logo
{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.video_title
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
.video_title p
{
    margin: 0;
}
.lower_container
{
    display: flex;
    gap: 10px;
}
.channel_name a
{
    text-decoration: none;
    font-size: 16px;
    /* font-weight: 500; */
    color: #ffffff; 
}
.time_views
{
    display: flex;
    gap: 10px;
}
.view_part a,.time_part a
{
    text-decoration: none;
    color: #ffffff;
    /* font-weight: 500; */
    font-size: 14px;
}
.lower_container
{
    height: 100px;
}
.upper_container
{
    height: 224px;
}
.channel_name
{
    height: 18px;
}
.new_div_video
{
    display: flex;
}
@media screen and (max-width: 480px)
{
.new_div_video
{
    flex-direction: column;
}
}
@media screen and (max-width:768px)
{
    .new_div_video
    {
    flex-direction: column;
    }
}